body {
  margin: 0;
  background-image: url('pastelsky.jpg');
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.todo-area {
  background-color: #ffcbf2;
  margin: auto;
  margin-top: 20px;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ffcbf2;
  border-radius: 2%;
  padding: 30px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
}

.todo-title {
  color: #7412b1;
}

.todo-item {
  align-items: center;
  background: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  margin-bottom: 6px;
  padding: 3px 10px;
  width: 80%;
}

input[type=checkbox] {
  margin-right: 10px;
}

.newtask {
  background-color: #c8e7ff;
  margin:auto;
  margin-top: 20px;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid  #c8e7ff;
  border-radius: 2%;
  padding: 30px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
}

.yellowtext {
  color: #10588f;
}

.subbutt {
  background-color: #d0d1ff;
  color: #383abd;
  font-size: 20px;
  font-weight: 400;
  margin-top: 10px;
  border: 1px solid  #6f71f8;
  border-radius: 6%;
}

.bluebutt {
  background-color: #d0d1ff;
  color: #383abd;
  font-size: 15px;
  font-weight: 400;
  margin-right: 3px;
  border: 1px solid  #6f71f8;
  border-radius: 6%;
}